<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="ProjectConnection" connectionString="provider=System.Data.SqlUser;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityUser" />
  </connectionStrings>
  
  
</configuration>