.wrapper {
    width: 40vw;
    margin: auto;
    background-color: #e0e0e0;
    padding: 20px;
    border: 3px solid white;
}

// input,button,select{
//     margin-top: 15px;
// }
.activ {
    font-weight: bolder;
}