.form {
    margin: auto;
    padding: 20px;
    background-color: white;
}

input,
button,
select {
    margin-top: 15px;
}

datalist#city {
    width: 100vw;
}

.invalid {
    border: 2px solid red;
}

.invalidp {
    color: red;
    font-size: smaller;
    float: right;
    margin-bottom: -10px;
}